<style>
  .footer{
    display: flex;
    justify-content: space-between;
    padding: 4rem;
  }
</style>


<div class="footer">
    
    <div id="atp">
      <a href="/about">About-Us</a><br>
      <a href="#">Terms & Conditions</a><br>
      <a href="#">Privacy Policy</a>
    </div>
    
    <div id="contacts">
      <label>Address: <strong>110 Uniport road Choba Port-Harcourt, Rivers state, Nigeria</strong></label><br>
      <label>Email: <strong>profit383@gmail.com</strong></label><br>
      <label>Phone: <strong>08166505062</strong></label>
    </div>
    
    <div id="socials">
       <i class="fa fa-bars"><a href="#"></a></i>
       <i class="fa fa-bars"><a href="#"></a></i>
       <i class="fa fa-bars"><a href="#"></a></i>
    </div>

  </div>