<style>
  .sideNav{
    background: gainsboro;
    height: fit-content;
    font-size: 32px;
    margin: 0 auto;
  }

  li{
    list-style: none;
  }

  a{
    text-decoration: none;
  }
  
  .navList{
    display: flex;
    gap: 2rem;
    margin-right: 1.5rem;
  }

  #navOpenClose{
    display: none;
  }
</style>

<div id="navShow" class="sideNav">
  <span id="navOpenClose">&times</span>
      <ul class="navList" id="lists">
        <li id="tmProfile"> <a href="/profile" class="list">Profile</a> </li>
        <li> <a href="/api/post/get-create-post" class="list">Create Post</a> </li>
        <li> <a href="/api/post/get-posts" class="list">Feeds</a> </li>
        <li> <a href="/api/post/post-per-writer/:{{user.id}}">My Posts</a></li>
      </ul>
    </div>

    