<div id="navShow" class="sideNav">
      <ul class="navList" id="lists">
        <span id="close">&times</span>
        <li id="tmProfile"> <a href="#" class="list">Profile</a> </li>
        <li> <a href="/api/post/get-create-post" class="list">Create Post</a> </li>
        <li> <a href="/api/post/my-posts" class="list">Posts</a> </li>
        <li> <a href="/api/post/get-posts" class="list">Feeds</a> </li>
      </ul>
    </div>