<style>
    h3 {

        text-align: center;
    }
    .main {
    display: grid;
    grid-template-columns: 1fr;
    height: 100vh;
}

.center {
    display: none;
}

.a-button {

    width: 7rem;
    color: white;
    background: rgba(4, 131, 4, 0.658);
    margin-bottom: 1rem;
    border-radius: 5px;
    border: none;
    padding: 12px;
    margin-left: 40%;
    font-size: larger;
}

.a-form {
    background-color: rgb(238, 250, 246);
    width: 650;
    margin: 0 auto;
    padding: 1.2rem;
    border: solid rgb(153, 153, 156) 2px;
    border-radius: 7px;
}

.a-label {
    margin-left: 2rem;
    margin-top: 2rem;
    font-size: 20px;
    font-weight: 700;
}

.a-input {
    width: 600px;
    margin-left: 2rem;
    margin-bottom: 2rem;
    height: 2.5rem;
    padding: 20px 30px;
    font-size: larger;
    box-sizing: border-box;
}

@media screen and (max-width: 900px) {
 
.a-form {
    background-color: rgb(238, 250, 246);
    width: 500px;
    margin: 0 auto;
    padding: 1.2rem;
    border: solid rgb(153, 153, 156) 2px;
    border-radius: 7px;
}

.a-label {
    margin-left: 1.2rem;
    margin-top: 2rem;
}

.a-input {
    width: 480px;
    margin-left: 1.2rem;
}

}

@media screen and (max-width: 600px) {

.a-form {
    background-color: rgb(238, 250, 246);
    width: 320px;
}

.a-label {
    margin-left: 0.8rem;
    margin-top: 1rem;
}

.a-input {
    width: 300px;
    margin-left: 0.8rem;
}

}

</style>


<div class="main">
    <a href="/">Home</a>
    <div id="signUp" class="center">
        <h3>Sign Up</h3>
        <form class="a-form" action="/create" method="POST">
            <div>
                <label class="a-label"  for="username">User-Name</label><br>
                <input class="a-input" type="name" name="username" placeholder="Create Username" required>
            </div>
            <div>
                <label class="a-label"  for="email">Email</label><br>
                <input class="a-input" type="email" name="email" placeholder="Enter your email" required>
            </div>
            <div>
                <label class="a-label" for="password">Password</label><br>
                <input class="a-input" type="password" name="password" placeholder="Create your password" required>
            </div>
            <button class="a-button"  type="submit">Submit</button>
            <p> Have account with us <button onclick="Signin()" id="SignIn">Sign In</button></p>
        </form>
    </div>

    <div id="signIn">
        <h3>Sign In</h3>
        <form class="a-form" action="/login" method="POST">
            <div>
                <label class="a-label" for="email">Email</label><br>
                <input class="a-input" type="email" name="email" placeholder="Enter your email" required>
            </div>
            <div>
                <label class="a-label" for="password">Password</label><br>
                <input class="a-input" type="password" name="password" placeholder="Enter your password" required>
            </div>
            <button class="a-button" type="submit">Submit</button>
            <p>Don't have account with us <button onclick="Signup()" id="SignUp">Sign Up</button></p>
            <p> Click for <button onclick="Forgotpws()" id="ForgotPsw">Forgot Password</button></p>
        </form>
    </div>

    <div id="forgotPassword" class="center">
        <h3>Forgot Password</h3>
        <form class="a-form" action="/forgotpassword" method="POST">
            <div>
                <label class="a-label" for="email">Email</label><br>
                <input class="a-input" type="email" name="email" placeholder="Enter Your" required>
                <p></p>
            </div>
            <button class="a-button" type="submit">Submit</button>
            <p>Remebered Password<button onclick="Signin()" id="SignIn">Sign In</button>, Or Create a <button onclick="Signup()" id="SignUp">New Account</button></p>
        </form>
    </div>

    <div id="resetPassword" class="center">
        <h3>Reset Password</h3>
        <form class="a-form" action="/resetpassword/:resetToken" method="PUT">
            <div>
                <label class="a-label" for="password">New Password</label>
                <input class="a-input" type="password" name="password" placeholder="Enter new password" required>
            </div>
            <button class="a-button" type="submit">Submit</button>
        </form>
    </div>

</div>

<script src="../js/bootstrap.bundle.min.js"></script>