
    <div id="sighUp">
        <h3>Sign Up</h3>
        <form action="/create" method="POST">
        <label for="username">User-Name</label>
        <input type="name" name="username" placeholder="Create Username" required>
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="Enter your email" required>
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Create your password" required>
        <button type="submit">Submit</button>
        </form>
    </div>

    <div id="signIn">
        <h3>Sign In</h3>
        <form action="/login" method="POST">
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="Enter your email" required>
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Enter your password" required>
        <button type="submit">Submit</button>
        <p>Click for <a href="#forgotPassword">Forgot Password</a></p>
        </form>
    </div>

    <div id="forgotPassword">
        <h3>Forgot Password</h3>
        <form action="/forgotpassword" method="POST">
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="Enter Your" required>
        <button type="submit">Submit</button>
        </form>
    </div>

    <div id="resetPassword">
        <h3>Reset Password</h3>
        <form action="/resetpassword/:resetToken" method="PUT">
        <label for="password">New Password</label>
        <input type="password" name="password" placeholder="Enter new password" required>
        <button type="submit">Submit</button>
        </form>
    </div>


    <script src="../js/bootstrap.bundle.min.js"></script>