<style>
li{
  list-style: none;
}

#welcomeDisplay {
  text-align: justify;
  opacity: 0.8;
  margin: 0 auto;
  padding: 2rem;
  transition: background-color 7s;
  width: 80%;
  border: 2px solid black;

}
</style>
  <div>
    <nav>
      <ul class="" style="display: flex; gap: 2rem; font-size: 30px; color: green; padding: 1rem;">
          <li class=""> <a href="/form">Sign-Up</a>/<a href="/form">Sign-In</a></li>
          <li class=""> <a href="/about">About-Us</a></li>
          <li> <a href="/api/post/get-posts">View Posts</a></li>
      </ul>
    </nav>
    
    <div id="welcomeDisplay">
      <h1 style="text-align: center">WELCOME! WE WISH YOU GREATNESS..</h1>
      <p style="margin-bottom: 2rem; font-size: 20px;">
        This site is undergoing development.
        <b>I am testing it.</b> Please feel free and thoroughly go through it and make your recommendations.
      </p>
    </div>
    
  </div>
{{!-- Footer Section --}}
{{> footer}}



<script>
// Get the element
const welcome = document.getElementById('welcomeDisplay');

// Define the colors
const colors = [
  { background: 'black', text: 'purple', borders: '4px solid purple' },
  { background: 'purple', text: 'pink', borders: ' 4px solid pink' },
  { background: 'pink', text: 'black', borders: '4px solid black' }
];
let currentColorIndex = 0;

// Function to change the color
function changeColor() {
  welcome.style.backgroundColor = colors[currentColorIndex].background;
  welcome.style.color = colors[currentColorIndex].text;
  welcome.style.border = colors[currentColorIndex].borders;
  currentColorIndex = (currentColorIndex + 1) % colors.length;
}

// Change the color every 10 seconds
setInterval(changeColor, 10000);

// Initial color change
changeColor();

</script>
