html {
  scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    margin: 0;
}

h3 {
    text-align: center;
    font-size: 25px;
}

.center {
    display: none;
}

.a-button {
   
    width: 7rem;
    color: white;
    background: rgba(4, 131, 4, 0.658);
    margin-bottom: 1rem;
    border-radius: 5px;
    border: none;
    padding: 12px;
    margin-left: 40%;
    font-size: larger;
}

.a-form {
    background-color: rgb(238, 250, 246);
    width: 650;
    margin: 0 auto;
    padding: 1.2rem;
    border: solid rgb(153, 153, 156) 2px;
    border-radius: 7px;
}

.a-label {
    margin-left: 2rem;
    margin-top: 2rem;
    font-size: 20px;
    font-weight: 700;
}

.a-input {
    width: 600px;
    margin-left: 2rem;
    margin-bottom: 2rem;
    height: 2.5rem;
    padding: 20px 30px;
    font-size: larger;
    box-sizing: border-box;
}