<style>
  body {
    font-size: 20px;
  }
  
  li {
    list-style: none;
  }
  
  /* public/css/style.css */
.post-card {
  border: 1px solid #ddd;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.writer-info {
  margin-top: 00.5rem;
  padding-left: 2rem;
  border-top: 1px dashed #ccc;
  font-size: 00.9rem;
  border: 1px solid white;
  border-radius: 1rem;
}
  .main {
    dislay: grid;
    grid-template-colunms: 1fr;
    padding: 0.8rem;
  }
  
  .viewPost {
    background: whitesmoke;
    /*padding: 1rem;*/
    border-radius: 1rem;
    font-size: 25px;
  }
  
  .post {
    margin-bottom: 0.3rem;
    /*padding-left: 1rem;
    padding-top: 1rem;*/
    padding:0.5rem;
  }
  
 /* #post-title {
     background: white;
  }*/
  
  #post-dscrb {
    line-height: 22px;
  }
  
 #post-kywrds {
     color: brown;
  }
  
  #post-body {
    padding: 3px;
  }
  
  .p-l-h {
    text-align: justify;
    line-height: 30px;
  }
  
  #post-sum {
     font-weight: 500;
  }
  
  .relWrks {
      border: none
}

  </style>
<div class="main">

{{title}}
<a href="/dashboard">Go to Dashboard</a>
{{> writersNavs}}

{{#each results}}
    <div>
      <li>Title: {{this.title}}</li>
      <li>Description: {{this.description}}</li>
      <li> <a href="/api/post/each-post/:{{this._id}}" class="list">View in details</a> </li>
    </div>
{{/each}}

  {{> footer}}
